<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/footer/styles.css" />
  <link rel="stylesheet" href="/css/banner/styles.css" />
  <link rel="stylesheet" href="/css/techEvents/techCard.css" />
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/sponsors/styles.css" />
  <link rel="stylesheet" href="/css/modal/modal.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/d3942c0715.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/header/header.css" />
  <link rel="shortcut icon" href="/Assets/svgs/logo_icon.ico" />
  <title>Ziegers</title>
</head>

<body>
  <%- include('./components/loader/loader.ejs') -%>
  <%- include('./components/header.ejs') -%>
    <%- include('./components/techEvents/techEvents.ejs') -%>
      <%- include('./components/banner/banner.ejs') -%> -->
          <%- include('./components/footer/footer.ejs') -%>
</body>

</html>