<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/header/header.css" />
  <link rel="stylesheet" href="/css/aboutUs/styles.css">
  <link rel="shortcut icon" href="/Assets/svgs/logo_icon.ico" />
  <link rel="stylesheet" href="/css/riddler/styles.css">
  <title>Riddler</title>
</head>

<body>
  <canvas class="canvas" style="width: 100%; height: 100%; position: fixed; z-index: -2;" id="canvas"></canvas>
  <img src="/Assets/svgs/spaceship.svg" alt="" id="spaceship">
  <img src="/Assets/svgs/moon.svg" alt="" id="moon">
  <% if(progress> 0) { %>
    <% if(progress < questions.length + 1 ) { %>
      <header class="questions">
        <%- include('./components/navbar/navbar.ejs') -%>
          <h1 class="question_number unselectable">

            Riddle Number: <%= progress %>
          </h1>
          <img src="/Assets/svgs/happy_emoji.svg" id="status_emoji" alt="">
          <!-- <h3 id="error_text"></h3> -->
      </header>
      <form question_number="<%= progress %>" class="question">
        <div class="flex-container">
          <label for="answer" class="response-label unselectable">Answer: </label>
          <input type="text" name="answer" id="answer" placeholder="Enter Your Response" class="response-input">
          <% if (progress < questions.length) { %>
            <button type="submit" class="banner-button wide-button">
              <div>
                <h3 class="unselectable">Next</h3>
              </div>
            </button>
            <% } else { %>
              <button type="submit" class="banner-button wide-button">
                <div>
                  <h3 class="unselectable">Finish</h3>
                </div>
              </button>
              <% } %>

        </div>
        <div class="flex-grid">
          <% for(let i=1; i<5 ; i ++) { %>
            <% if (hints[i-1].status) { %>
              <div class="hint" hint_number="<%= i %>" hint_status="<%= hints[i-1].status %>"><img
                  id="hint-image-<%= i %>" src="/Assets/riddler/Riddler-<%= progress %>-hint-<%= i %>.png" alt=""></div>
              <% } else{%>
                <div class="hint hidden" hint_number="<%= i %>"><img src="/Assets/riddler/hint-cover.svg" alt=""></div>
                <% } %>
                  <% } %>
        </div>
        <% if (progress < questions.length) { %>
          <button type="submit" class="banner-button phone-button">
            <div>
              <h3 class="unselectable">Next</h3>
            </div>
          </button>
          <% } else { %>
            <button type="submit" class="banner-button phone-button">
              <div>
                <h3 class="unselectable">Finish</h3>
              </div>
            </button>
            <% } %>
      </form>
      <% } else { %>
        <header class="questions" style="min-height: 80vh;">
          <%- include('./components/navbar/navbar.ejs') -%>
            <h1 class="question_number unselectable"
              style="text-align: center; font-size: 3em; text-shadow:1px 2px black;">
              Congratulations on Finishing the Game! <br> Leaderboards will be uploaded soon
            </h1>
        </header>
        <% } %>
          <%- include('./components/riddler/rulebook.ejs') -%>
            <% } else { %>
              <header>
                <%- include('./components/navbar/navbar.ejs') -%>
                  <%- include('./components/riddler/header.ejs') -%>
                    <%- include('./components/riddler/rulebook.ejs') -%>
              </header>
              <% } %>
                <%- include('./components/footer/footer.ejs') -%>
                  <script src="/scripts/test/test.js" type="module"></script>
                  <script src="/scripts/navbar/script.js" type="module"></script>
                  <script src="/scripts/riddler/index.js" type="module"></script>
</body>

</html>